@model AllLayoutViewModel
@{
    ViewData["Title"] = "GetFisByid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        #quantity {
            display: none
        }

        #date {
            display: none
        }
    </style>
</head>

<div class="row">
    <header class="page-header">
    </header>
    <div class="col-lg-6 col-md-6">
        <h5><span>Toplam Tutar</span> <input type="text" id="totalprice" /> TL</h5>
        <input type="text" id="quantity" name="quan" value="@ViewBag.quantity" />
        <input type="text" id="date" name="datetime" value="@ViewBag.date" />
        <table id="dtBasicExample3" class="table table-striped table-bordered"
               cellspacing="0" style="text-align:center">
            <thead>
                <tr class="odd" id="tablodoldurss">
                </tr>
            </thead>
            <tbody>
                <tr class="odd" id="tablodoldaltt"></tr>
            </tbody>
        </table>
    </div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/snippets/javascript.min.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>

<script>
    var value;
    var val;
    var res;
    value = document.getElementById('quantity').value;
    val = document.getElementById('date').value;

    res = value + "," + val;
    var requestData = { quantity: res};

    $(document).ready(function() {
        $('#tablodoldaltt').show();
        $('#tablodoldurss').show();
        $.ajax({
            type: 'POST',
            url: '/Factory/Deneme',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: requestData,
            success: function(data) {
                var gelendegerler;
                var Adth = '<th>#</th>';
                var inputth = '<th>#</th>';
                for (var i = 0; i < data.length; i++) {
                    Adth += '<th style="min-width:73px;">' + data[i]["name"] + '</th>';
                    var totalvalue = 0;
                    var totalprice = 0;
                    inputth += '<th >';
                    for (var j = 0; j < data[i]["factoryQuantities"].length; j++) {
                        totalprice += data[i]["factoryQuantities"][j]["totalprice"]
                        totalvalue += data[i]["factoryQuantities"][j]["kg"]
                        inputth += '<input style="text-align:center"  value="' + data[i]["factoryQuantities"][j]["kg"] + '"  name="' + data[j] + '_' + j + '" type="text" disabled="disabled"  form-control calcdata" >';
                        console.log([j]["kg"]);
                    }
                    if (data[i]["factoryQuantities"].length > 1) {
                        inputth += '<span>Toplam : </span><input style="text-align:center"  value="' + totalvalue + '"  name="' + data[j] + '_' + j + '" type="text" disabled="disabled"  form-control calcdata" >';
                    }
                    inputth += '</th>';
                    $("#tablodoldurss").html(Adth);
                    $("#tablodoldaltt").html(inputth);
                    document.getElementById('totalprice').value = totalprice;
                }
            },
            error: function() {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        })
    });
</script>